CompileFlags:
  Add: 
    - -std=c17
    - -Wall
    - -Iinclude
  Remove: 
    - -Wunused-parameter
  Compiler: gcc

Diagnostics:
  ClangTidy:
    Add: [modernize*, readability*]
    Remove: [modernize-use-trailing-return-type]
